@media only screen and (max-width: 1200px){

    a{
        font-size: 14px;
    }
    ul{
        width:500px;
    }
    .section-1{
        height: 515px;
     }
     .header-1{
        position: absolute;
        left: 94px;
        top: 225px;
        font-size: 46px; 
     }
     .header-2{
        font-size: 46px;
     }
     hr{
        width: 253px;
        height: 2px;
     }
     .para-IT-club{
        font-size: 24px;
    
    }
    .container{
        display:grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 10px;
    }
    #napravlenie{
        font-size: 44px;
    }
    .cards__1{    
        width: 500px;
        height: 450px;
    }
    h5{
        font-size: 30px;
        padding-top:13px;
    }
    .mobile{
        padding-top:9px;
        font-size: 26px;
    }
    .grid{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 10px;
        justify-content: stretch;
    }
     
}

@media only screen and(max-width: 1080px){
    a{
        font-size: 14px;
    }
    ul{
        width:500px;
    }
    .section-1{
        height: 515px;
     }
     .header-1{
        position: absolute;
        left: 94px;
        top: 225px;
        font-size: 46px; 
     }
     .header-2{
        font-size: 46px;
     }
     hr{
        width: 253px;
        height: 2px;
     }
     .para-IT-club{
        font-size: 24px;
    
    }
    .container{
        display:grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 10px;
    }
    #napravlenie{
        font-size: 44px;
    }
    .cards__1{    
        width: 500px;
        height: 450px;
    }
    h5{
        font-size: 30px;
        padding-top:13px;
    }
    .mobile{
        padding-top:9px;
        font-size: 26px;
    }
    .grid{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 10px;
        justify-content: stretch;
    }
}

@media only screen and (max-width: 768px){
    a{
        font-size: 12px;
    }
    ul{
        width:500px;
    }
    .section-1{
        width:768px;
        height: 515px;
     }
     .header-1{
        position: absolute;
        left: 94px;
        top: 205px;
        font-size: 39px; 
     }
     .header-2{
        font-size: 39px;
     }
     hr{
        width: 203px;
        height: 1.2px;
     }
     .para-IT-club{
        font-size: 20px;
    
    }
    .container{
        display:grid;
        grid-template-columns: 1.5fr 1.5fr;
        gap: 5px;
    }
    #napravlenie{
        font-size: 29px;
    }
    .card{
        width: 330px;
        height: 250px;
    }
    .level-1{
        font-size: 18px;
    }
    .paragraph{
        font-size: 14px;
        
    }
    .paragraph-2{
        font-size: 14px;
        }
    .cards__1{    
        width: 300px;
        height: 250px;
    }
    h5{
        font-size: 16px;
        padding-top:19px;
    }
    .mobile{
        padding-top:12px;
        font-size: 14px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        justify-content: stretch;
    
}
}